<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.tackout.mapper.CouponMapper">
    <resultMap id="couponMap" type="com.sl.tackout.pojo.CouponTable">
        <id property="cid" column="cid"/>
        <result property="cvalue" column="cvalue"/>
        <result property="ccreatTime" column="ccreat_time"/>
        <result property="cendTime" column="cend_time"/>
        <result property="cstate" column="cstate"/>
        <result property="uid" column="uid"/>
    </resultMap>
    <sql id="cpSql">
        cid,
        cvalue,
        ccreatTime,
        cendTime,
        cstate,
        uid
    </sql>
    <select id="findMaxCid" resultType="int" parameterType="string">
        SELECT IFNULL(max(cid),0) AS cid FROM coupon_table
    </select>
    <insert id="addUserCoupon" parameterType="com.sl.tackout.pojo.CouponTable">
        INSERT INTO
        coupon_table
        VALUES (#{cid},#{cvalue},#{ccreatTime},#{cendTime},1,#{uid})
    </insert>
    <select id="findAllUrCoupon" resultMap="couponMap">
        SELECT * FROM coupon_table WHERE uid=(
        SELECT userId FROM user_table WHERE userName=#{userName}
        )
    </select>
</mapper>